<div class="card mx-auto">
    <a href="/blog/{{id}}">
        <div class="card-header">
            {{{title}}} {{{date_created}}}
        </div>
        <div class="card-body">
            <p>{{text}}</p>>
            <button class="btn-success" type="button">EDIT</button>
            <button class="btn-danger" type="button">DELETE</button>
        </div>
    </a>
</div>