<div class="form-row justify-content-md-center">
    <div class="col-sm-4">
        <div class="card mx-auto" id="signUpFormCard">
            <form id="signUpForm">
                <h2 class="col-sm-12" style="text-align: center;">Please Sign Up</h2>
                <br />
                <div class="form-group col-sm-12">
                    <label for="signUpName">Name</label>
                    <input type="text" class="form-control" id="signUpName" placeholder="Name">
                </div>
                <div class="form-group col-sm-12">
                    <label for="signUpEmail">Email address</label>
                    <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group col-sm-12">
                    <label for="signUpPassword">Password</label>
                    <input type="password" class="form-control" id="signUpPassword" placeholder="Enter Password">
                </div>
                <div class="form-group col-sm-12">
                    <label for="matchPassword">Verify Password</label>
                    <input type="password" class="form-control" id="matchPassword" placeholder="Enter Password Again">
                </div>
                <br />
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn btn-primary" id="signUpBtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>