html * {
  line-height: 1.5rem;
  font-family: "Merriweather", serif;
}

body {
  background-color: rgb(218, 213, 213);
}

.navbar-brand {
  float: right;
  font-size: xx-large;
}

#newBlogBtn {
  margin: 20px;
  width: 90%;
}

#blogContainer {
  height: 90vh;
  margin: auto;
  overflow-y: auto;
}

#blogScroller {
  height: 600px;
  border: 2px black solid;
  overflow-y: auto;
}

.card {
  border: 5px solid black;
  border-radius: 10px;
  margin: 30px;
}

#blogPreviewCards,
#homeBrandCards {
  width: 100%;
}

#blogPreviewCards .card-body,
#homeBrandCards {
  overflow-y: auto;
  height: 2rem;
  background-color: lightgray;
}

#blogPreviewCards #loginCard,
#homeBrandCards,
#signUpCard {
  justify-content: center;
}

#blogDashboardCards {
  width: 90%;
}

#blogDashboardCards .card-body {
  background-color: lightgrey;
  color: black;
}

#newBlogCard {
  background-color: lightgray;
  padding: 20px;
}

#blogCard {
  padding: 20px;
  background-color: lightgray;
}

#blogCardHeader {
  padding: 15px;
}
#blogCardBody {
  padding: 15px;
  border: 1px solid black;
  height: 400px;
  overflow-y: auto;
  background-color: white;
}
#blogCardFooter {
  padding: 15px;
  background-color: lightsteelblue;
}

#loginForm,
#signUpForm {
  padding: 20px;
}

#newBlogForm {
  padding: 20px;
}

#loginBtn,
#signUpBtn {
  float: none;
}

#logInForm {
  height: 1000px;
  background-color: lightsalmon;
}

#newBlogBtn {
  background-color: green;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#welcomeTitle {
  margin: 20px;
}

#commentCardBody {
  background-color: silver;
}

#commentDiv {
  background-color: silver;
  border-bottom: 1px solid darkblue;
  padding: 10px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  background: #222;
  color: white;
  text-align: center;
}
